html,
body,
#root {
  font-family: 'Quicksand', sans-serif;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  background: #4da0b0; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #d39d38,
    #4da0b0
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #d39d38,
    #4da0b0
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#root {
  overflow: scroll;
}

.app {
  width: 80%;
  margin: auto;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
}
